body {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin: 0 auto;
    text-align: justify;
    max-width: fit-content;
    border: 5px solid rgb(34, 33, 33);
    border-radius: 3px;
    padding: 20px;
    
}

.client-info{
    line-height: 2.0;
    font-family: Arial, Helvetica, sans-serif;
   
}

.submit-delete{
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    padding-right: 240px;
    margin-top: 10px;
}

#submit-btn{
    border: 2px solid rgb(71, 68, 68);
    border-radius: 5px;
    padding: 10px;
    color: rgb(48, 50, 54);
}


#delete-btn{
    border: 2px solid rgb(71, 68, 68);
    border-radius: 5px;
    padding: 10px;
    color: rgb(48, 50, 54);
}