h1{
    font-family: sans-serif;
    font-style: oblique;
}

p{
    font-weight: 600;
    font-size: 3em;
    line-height: normal;
}

body{
    font-size: 16px;
    text-align: justify;
    text-decoration: solid;
    background-color: aquamarine;
}

.amarelo{
    background-color: yellow;
}

.vermelho{
    background-color: red;
}

.marrom{
    background-color: brown;
}